@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 38px;
  font-weight: 500;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 18px;
}  
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
.menu .navbar-default {
  background: none;
  border-color: transparent;
  margin-bottom: 0;
  text-align: center;
}
.menu .navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: #666;
  padding: 5px 15px;
}
.menu .navbar-default .navbar-nav > li > a:hover {
  color: #f48e5c;
}
.menu .navbar-nav {
  float: none;
  display: inline-block;
}
.menu .navbar {
  min-height: 0;
}    
header {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.96);
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .logo {
  display: inline-block;
  margin-top: 8px;
}
header .social-info {
  margin-bottom: 0;
  padding-top: 8px;
  text-align: right;
}
header .social-info li {
  display: inline-block;
}
header .social-info li:first-child a {
  border-left: 1px solid #dedede;
}
header .social-info li a {
  color: #aeaeae;
  padding: 3px 8px;
  border-right: 1px solid #dedede;
}
header .social-info li a:hover {
  color: #f48e5c;
}

  
.jumbotron {
 background: url('../img/leaving-room-interior-design.jpg')  center center rgba(0,0,0,0.3);
 width: 100%;
 height: 100%;
}
 
#banner {
  background-size: cover;
  
  position: relative;
  padding: 100px 0;
  
}
#banner .app-img {
  padding-top: 10px;
}
#banner .block > p {
  margin-bottom: 40px;
}
#banner .block {
  padding-top: 0px;
}
#banner .block h1 {
  margin-bottom: 18px;
  line-height: 55px;
  color: #f2f2f2;
  font-weight: 35px;
}
#banner .block p {
  font-size: 20px;
  color: #f2f2f2;
  font-weight: 300;
}
#banner .block .download-btn li {
  display: inline-block;
}
#banner .block .download-btn li a {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 28px 13px;
  font-size: 18px;
}
#banner .block .download-btn li a i {
  margin-right: 10px;
  font-size: 20px;
}
#banner .block .download-btn li .btn-apple {
  background: #8883bc;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#banner .block .download-btn li .btn-apple:hover {
  color: #8883bc;
  background: #fff;
  border: 1px solid #8883bc;
}
#banner .block .download-btn li .btn-andriod {
  background: #6fbf39;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#banner .block .download-btn li .btn-andriod:hover {
  color: #6fbf39;
  background: #fff;
  border: 1px solid #6fbf39;
}
#banner .block .download-btn li .btn-windows {
  background: #00afec;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#banner .block .download-btn li .btn-windows:hover {
  color: #00afec;
  background: #fff;
  border: 1px solid #00afec;
}
#service {
  padding: 30px 0;
}
#service .service-wrapper {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 110px 0;
}
#service .block {
  cursor: pointer;
  text-align: center;
}
#service .block:hover .icon i {
  color: #fff;
}
#service .block:hover h3 {
  color: #f48e5c;
}
#service .block:hover .icon {
  border: 1px solid #FFFFFF;
  background: #f48e5c;
  color: #fff;
  -webkit-box-shadow: 0 0 0px 2px #f48e5c;
  -moz-box-shadow: 0 0 0px 2px #f48e5c;
  box-shadow: 0 0 0px 2px #f48e5c;
}
#service .block .icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid #dedede;
  text-align: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#service .block i {
  font-size: 25px;
  line-height: 90px;
  color: #989898;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#service .block h3 {
  color: #555;
  font-weight: 300;
}
#service .block p {
  color: #666;
}
#feature {
  padding: 120px 0;
}
#utility-2 .title {
  font-weight: 300;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#feature .feature-item {
  margin-top: 40px;
}
#feature .feature-item:first-child {
  margin-top: 0;
}
#feature .feature-item .icon {
  padding-right: 22px;
}
#feature .feature-item .icon i {
  color: #f48e5c;
  font-size: 30px;
}
#feature .feature-item h4 {
  color: #f48e5c;
  margin-bottom: 0;
  font-weight: 300;
  margin-bottom: 8px;
}
#feature .feature-item p {
  color: #9499a2;
}
#feature .block {
  text-align: center;
}
#feature .block img {
  display: inline-block;
}
#utility {
  background: rgb(54, 164, 231);
  padding: 20px 0 20px 0;
}
#utility .block h2 {
  padding-top: 70px;
  color: #444;
}
#utility .block p {
  line-height: 32px;
  color: #7c828b;
  font-size: 16px;
}
#utility-2 {
  padding: 20px 0 10px 0;
}
#utility-2 .block {
  padding-top: 100px;
}
#utility-2 .block h2 {
  color: #666;
}
#utility-2 .block p {
  line-height: 32px;
  color: #9AA0A9;
  font-size: 16px;
}
#subscribe {
   padding: 20px 0 20px 0;
}
#subscribe .title 
{
  font-weight: 200;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#subscribe .block {
  border-top: 1px solid #dedede;
  padding-top: 40px;
}
#subscribe p {
  color: black;
}
#subscribe .form-inline {
  padding-top: 16px;
}
#subscribe .form-inline .form-group {
  position: relative;
}
#subscribe .form-inline .form-group input {
  width: 340px;
  padding: 20px 0px 20px 15px;
  border-radius: 0;
  background: white;
  border: 1px solid #d4d4d4;
  border: 1px solid #d1d1d1;
  box-shadow: none;
}
#subscribe .form-inline .form-group input:hover,
#subscribe .form-inline .form-group input:active,
#subscribe .form-inline .form-group input:focus {
  box-shadow: none;
}
#subscribe .form-inline i {
  font-size: 18px;
  color: #fff;
  display: inline-block;
}
#subscribe .btn-signup {
  background: #77c344;
  padding: 10px 20px;
  color: #fff;
  border-radius: 0;
  border: none;
  margin-left: -4px;
  border: 1px solid transparent;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}
#subscribe .btn-signup:hover {
  background: #fff;
  border: 1px solid #77c344;
}
#subscribe .btn-signup:hover i {
  color: #77c344;
}

.mainbtn
{
  margin: 0px;
  margin-top: -40px;
}


/*=========================
  Footer
  ================= */
  .full {
    width: 100%;    
  }
  .gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
  }
  .footer {
    background:#656060; /*#EDEFF1*/
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #0ab;
    border-top: 1px solid #0ab;
  }
  .footer p {
    margin: 0;
  }
  .footer img {
    max-width: 100%;
    padding: 0px;
  }
  .footer h3 {
    color: #B0C5D1;
    font-size: 18px;
    font-weight: 600;
    line-height: 0px;
    padding: 10px 0 0px;
    text-transform: uppercase;
  }
  .footer ul {
    font-size: 14px;
    list-style-type: none;
    margin-left: 0;
    padding: 0px;
    color: #fff;
  }
  .footer ul li a {
    padding: 0;
    display: block;
  }
  .footer ul li a:hover {
    color: #0ab;
  }
  .footer a {
    color: #fff;
  }

  .social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
  }
  .social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
  }
  .social li a {
    color: #EDEFF1;
  }
  .social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
  }
  .social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
  }
  .footer-bottom {
    background: #2c3e50;
    border-top: 1px solid #2c3e50;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0ab;
  }
  .footer-bottom p.pull-left {
    padding-top: 6px;
  }
  .payments {
    font-size: 1.5em;   
  }
  .develop
  {
    padding-top: 6px;
    font-size: 8px;
    color:#fff;
  }

/*=======================================
    CUSTOMER STORIES STYLES
    ==================================================*/
    /* carousel */
    #quote-carousel 
    {
      padding: 0 30px 90px 30px;
      margin-top: 30px 0px 0px;
    }

    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators 
    {
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-right: -19px;
    }
    /* Changes the color of the indicators */
    #quote-carousel .carousel-indicators li 
    {
      background: #0ab;
    }
    #quote-carousel .carousel-indicators .active 
    {
      background: #3c7088;
    }
    #quote-carousel img
    {
      width: 250px;
      height: 100px
    }
    /* End carousel */

    .item blockquote {
      border-left: none; 
      margin: 0;
    }

    .item blockquote img {
      margin-bottom: 10px;
    }

    .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;

    }

    .btn.btn-success.btn-lg,.btn.btn-danger.btn-lg,.btn.btn-warning.btn-lg,.btn.btn-primary.btn-lg
    {
      width: 100%;
      margin-top: 15px;
    }


    /*popular services*/


    .title{
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) !important;    
    }

    .divider-title{
      border:1px solid #dddddd;
    }

    .project {
      margin-bottom: 30px;
      vertical-align: top;
      margin-right: 30px;
      float: left;
      cursor: pointer;
      width:100%;
    }

    .project figure {
      position: relative;
      display: inline-block;
      width: 283px;
    /*-moz-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
    -webkit-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
    box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
    -webkit-box-shadow: 0 3px 0 #e2e2e2;
    -moz-box-shadow: 0 3px 0 #e2e2e2;
    box-shadow: 0 3px 0 #e2e2e2;*/
    border:2px solid #f2f2f2;
  }

  .project figure figcaption {
    position: relative;
    z-index: 10;
    padding: 8px 18px 11px;
    background: #fff;
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: left;
    color: #555;
  }

  .project figure:hover .actions {
    opacity: 1;
  }

  .project figure .actions {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(29,29,29,.7);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .project figure img {
    border: 0;
    width: 100%;
    height: 200px;
  }
  .btn-warning bnt-action{
    margin: 0% 0% auto;    
  }

  figcaption .project-details {
    display: block;
    font-size: 16px;
    line-height: 33px;
    color: #0093d0;
    height: 27px;
    width: 85%;
    margin-bottom: 5px;
    overflow: hidden;
  }

  figcaption .project-price {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 22px;
    text-align: right;
    margin-top: 8px;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
  }

  figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
  }

  figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
  }

  .project figure .actions button {
    padding: 13px 20px;
    font-size: 16px;
    top: 32%;
    position: absolute;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    line-height: 18px;
    letter-spacing: 1px;
  }         

 .project figure .actions a {
    padding: 13px 20px;
    font-size: 16px;
    top: 32%;
    position: absolute;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    line-height: 18px;
    letter-spacing: 1px;
  }    







/**
  MEDIA QUERIES
  */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
      width: 100%;
    }
    
    
  }

  /* Small devices (tablets, up to 768px) */
  @media (max-width: 768px) { 

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
      bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
      display: inline-block;
      margin: 0px 5px;
      width: 15px;
      height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
      margin: 0px 5px;
      width: 20px;
      height: 20px;
    }
    #quote-carousel 
    {
      width: 100%;
      height: 450px;
    }
    
  }


  /*how it's work*/

  .home-design-info figure img, .home-dev-info figure img{
    width: 250px;
    height:250px;
  }

  #principal-content {
    background: none repeat scroll 0 0 #fff;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  #principal-content #develop {
    margin: 1em 0;
  }   
.text-cont
{
  font-size: 20px;  
}



  @media (max-width: 767px){
    .mainbtn
    {
      margin-top: 0px;
    }
    .btn-lg
    {
      width: 100%;
    }
    #utility-2 .title 
    {
      font-weight: 200;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #utility-2 
    {
      padding: 10px 0 5px 0;
    }

    #banner {
      padding: 10px 0px;
    }
    .jumbotron
    {
      padding:0px 15px;
    }

  }